li {
    list-style: none;
}

header {
    text-align: center;
}

#game-container {
    text-align: center;
    width: 320px;
    margin: 0 auto;
}

#select-panel {
    height: 240px;
    border: 1px solid black;
}

#setting-panel {
    display: none;
    height: 240px;
    border: 1px solid black;
}

.setting-padding {
    margin-top: 5px;
}

#word {
    margin-top: 40px;
}

#button-execute {
    margin-top: 20px;
}

#completed {
    width: 300px;
    height: 96px;
}

#button-start {
    margin: 100px 100px 0 0;
}

#game-panel {
    height: 240px;
    border: 1px solid black;
    display: none;
}

#example-sentence {
    font-size: 15px;
}

#example-sentence-japanese {
    font-size: 12px;
}

.question {
    visibility: hidden;
}

#question-border {
    border: 1px solid black;
}

#button-next {
    float: right;
    margin-top: 5px;
    display: none;
}

#button-back {
    float: left;
    margin-top: 5px;
    display: none;
}

#list-word {
    display: none;
    padding-top: 25px;
}

#comment-qnone {
    display: none;
    color: red;
}

#correct-answer {
    color: red;
}

#copyright {
    font-size: 12px;
}

.fa-twitter-square {
    padding-left: 5px;
    color: deepskyblue;
    font-size: 20px;
}